@model List<mvc.Models.viewmodel.Recipe>
@{
    ViewData["Title"] = "Countries";
}

<div style="margin-top: 100px;">
    <a href="/home/countries">Zurueck</a>
</div>

<div>
    <main style="width: 90%; margin-left: 5%; margin-bottom: 100px; ">
        <h1 style="text-align: center; background-color: lightslategrey"><strong>Recipe</strong></h1>
        <div class="row">
            @{if (Model != null)
                {
                    foreach (mvc.Models.viewmodel.Recipe re in Model)
                    {
                        var s = "D" + re.RecipeID;
                        <div class="col-lg-3">
                            <div class="container-fluid mt-4">
                                <div class="card" style="width:300px;">
                                    <img class="card-img-top" src="@re.FilePath" alt="Card image" style="width:100%; text-align:center">
                                    <div class="card-body">

                                        <h4 class="card-title">@re.Recipename</h4>
                                        <p class="card-text">Duration: @re.Duration</p>
                                        <p class="card-text">Occasion: @re.Occasion</p>
                                        <p class="card-text">Calories: @re.Calories</p>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#@s">
                                            Mehr Lesen
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="offcanvas offcanvas-end" id="@s">
                                <div class="offcanvas-header">
                                    <h1 class="offcanvas-title">@re.Recipename</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <p class="card-body" style="margin-right: 5%">Vegan: @re.Vegan</p> <p>Vegetarian: @re.Vegetarian</p><br />
                                    <p class="card-body" style="margin-right: 5%">Calories: @re.Calories</p> <p>Occasion: @re.Occasion</p><br />
                                    <div class="card-body"><Strong>Ingredients:</Strong> @re.Ingredients</div><br />
                                    <div class="card-body"><Strong>Industructions:</Strong> @re.Instructions</div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>Leider keine Rezepte zu diesem Land, schau spaeter nochmal vorbei!</div>
                }
            }
        </div>
    </main>

</div>
